.container {
            display: flex;
            justify-content: center;
            font-size: 3rem;
            list-style-type: none;
            display: flex;
            gap: 20px;
        }

        /* <!-- Using the custom property `--i` to calculate the animation duration. --> */
        li {
            animation-name: bubble;
            animation-duration: calc(var(--i) * 1s);
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
        }

        /* keyframes */
        @keyframes bubble {
            0% {
                opacity: 0;
                /* transform: translateY(-100px); */
                transform: scale(0);
            }

            70% {
                opacity: 1;
                transform: scale(1.5);
            }

            100% {
                opacity: 1;
                /* transform: translateY(0); */
                transform: scale(1);
            }
        }

        h2{
            position: relative;
            font-size: 56px;
            color: #12131f;
            -webkit-text-stroke: 0.1vw teal;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h2:before{
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #38e4cdce;
            -webkit-text-stroke: 0.1vw #383d52;
            border-right: 2px solid #3de5cccc;
            overflow: hidden;
            animation: animate 6s linear infinite;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @keyframes animate{
            0%, 10%, 100%{
                width: 0;
            }
            70%, 90%{
                width: 100%;
            }
        }